!! VXLAN / NVE Configuration

{% if not is_spine %}
!! VRF Definitions
{% for vrf in overlay.vrfs %}
vrf context {{ vrf.name }}
  vni {{ vrf.vni }}
  rd auto
  address-family ipv4 unicast
    route-target import {{ vrf.rt_import if vrf.rt_import != "auto" else (device.asn + ":" + vrf.vni|string) }}
    route-target import {{ vrf.rt_import if vrf.rt_import != "auto" else (device.asn + ":" + vrf.vni|string) }} evpn
    route-target export {{ vrf.rt_export if vrf.rt_export != "auto" else (device.asn + ":" + vrf.vni|string) }}
    route-target export {{ vrf.rt_export if vrf.rt_export != "auto" else (device.asn + ":" + vrf.vni|string) }} evpn

{% endfor %}

!! VLAN to VNI Mapping
{% for vlan in overlay.vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name }}
  vn-segment {{ vlan.vni }}
{% endfor %}

!! L3 VNI VLANs
{% for vrf in overlay.vrfs %}
vlan {{ 3900 + loop.index }}
  name L3VNI-{{ vrf.name }}
  vn-segment {{ vrf.vni }}
{% endfor %}

!! SVI Interfaces
{% for vlan in overlay.vlans %}
{% if vlan.svi_ip %}
interface Vlan{{ vlan.vlan_id }}
  no shutdown
  vrf member {{ vlan.vrf }}
  ip address {{ vlan.anycast_gw if vlan.anycast_gw else vlan.svi_ip }}
  fabric forwarding mode anycast-gateway
{% endif %}
{% endfor %}

!! L3 VNI SVIs
{% for vrf in overlay.vrfs %}
interface Vlan{{ 3900 + loop.index }}
  no shutdown
  vrf member {{ vrf.name }}
  ip forward
{% endfor %}

!! NVE Interface
interface nve1
  no shutdown
  host-reachability protocol bgp
  source-interface {{ global_config.nve_source }}
  {% if model.multisite and is_bgw %}
  multisite border-gateway interface loopback2
  {% endif %}
  {% for vrf in overlay.vrfs %}
  member vni {{ vrf.vni }} associate-vrf
  {% endfor %}
  {% for vni_entry in overlay.vnis %}
  {% if not vni_entry.is_l3vni %}
  member vni {{ vni_entry.vni }}
    {% if model.multisite and is_bgw %}
    multisite ingress-replication
    {% endif %}
    {% if vni_entry.mcast_group %}
    mcast-group {{ vni_entry.mcast_group }}
    {% else %}
    ingress-replication protocol bgp
    {% endif %}
  {% endif %}
  {% endfor %}

!! EVPN Configuration
evpn
  {% for vni_entry in overlay.vnis %}
  {% if not vni_entry.is_l3vni %}
  vni {{ vni_entry.vni }} l2
    rd auto
    route-target import auto
    route-target export auto
  {% endif %}
  {% endfor %}
{% endif %}

!! CLI-Configured VRFs
{% for vrf_name, vrf_cfg in device.config.get("vrfs", {}).items() %}
vrf context {{ vrf_name }}
  {% if vrf_cfg.get("vni") %}
  vni {{ vrf_cfg.vni }}
  {% endif %}
  {% if vrf_cfg.get("rd") %}
  rd {{ vrf_cfg.rd }}
  {% endif %}
  {% for af_name, af_cfg in vrf_cfg.get("address_families", {}).items() %}
  address-family {{ af_name }}
    {% for rt in af_cfg.get("route_targets", []) %}
    route-target {{ rt.direction }} {{ rt.value }}
    {% endfor %}
    {% for redis in af_cfg.get("redistribute", []) %}
    redistribute {{ redis }}
    {% endfor %}
  {% endfor %}
{% endfor %}

!! CLI-Configured NVE
{% if device.config.get("nve") %}
{% set nve_cfg = device.config["nve"] %}
{% if nve_cfg.get("members") %}
interface nve1
  {% if nve_cfg.get("source_interface") %}
  source-interface {{ nve_cfg.source_interface }}
  {% endif %}
  {% if nve_cfg.get("host_reachability") %}
  host-reachability protocol {{ nve_cfg.host_reachability }}
  {% endif %}
  {% if nve_cfg.get("multisite_bgw_intf") %}
  multisite border-gateway interface {{ nve_cfg.multisite_bgw_intf }}
  {% endif %}
  {% for vni_id, vni_cfg in nve_cfg.get("members", {}).items() %}
  member vni {{ vni_id }}{% if vni_cfg.get("associate_vrf") %} associate-vrf{% endif %}

    {% if vni_cfg.get("multisite_ir") %}
    multisite ingress-replication
    {% endif %}
    {% if vni_cfg.get("ingress_replication") %}
    ingress-replication protocol {{ vni_cfg.ingress_replication }}
    {% endif %}
    {% if vni_cfg.get("mcast_group") %}
    mcast-group {{ vni_cfg.mcast_group }}
    {% endif %}
  {% endfor %}
  no shutdown
{% endif %}
{% endif %}

!! CLI-Configured Features
{% for feat in device.config.get("features", []) %}
feature {{ feat }}
{% endfor %}

!! CLI-Configured Static Routes
{% for route in device.config.get("static_routes", []) %}
ip route {{ route }}
{% endfor %}

!! CLI-Configured Route-Maps
{% for rm in device.config.get("route_maps", []) %}
route-map {{ rm }}
{% endfor %}

!! CLI-Configured Prefix-Lists
{% for pl in device.config.get("prefix_lists", []) %}
ip prefix-list {{ pl }}
{% endfor %}

